<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Молекулярно-кинетическая теория
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    link(rel="stylesheet", href="/sass/index.sass")
    style.
      .wrapper{
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
      }
  body.container.container_center
    .wrapper
      header.header
        h1.header__title Молекулярно-кинетическая теория
        .header__nav.nav
          ul.nav__list
            li.nav__itm
              details
                summary
                  h2.text-underline Глава 1 Основы МКТ 
                ol.nav__sub-list
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Основное положение МКТ и их опытное обоснование.
                      .content
                        p.content-paragraph
                          | Демокрит считал, что существует бесконечное множество миров; одни миры возникают, другое гибнут. Все они состоят из множества атомов и пустоты. Пустота — между мирами и атомами. Сами же атомы неделимы и лишены пустоты. Помимо свойства неделимости атомы неизменны, не имеют внутри себя никакого движения; они вечны, не уничтожаются и вновь не появляются. Число атомов в мире бесконечно.
                          ul
                            li.content-list
                              span.content-list__title.text-underline I положение МКТ.
                              br
                              p Все вещества состоят из мельчайших частиц.
                              p Атом - наименьшая частица вещества, которая не делится при химических реакциях. Многие молекулы состоят из двух или больше атомов, удерживаемых вместе химическими связями. Некоторые молекулы состоят из сотен тысяч атомов.
                              br
                              p Растворение и испарение в воде
                              .imgContainer
                                img(src="/img/gif/1.gif", alt="")
                                img(src="/img/gif/2.gif", alt="")
                            li.content-list
                              span.content-list__title.text-underline II положение МКТ
                              br
                              p Структурные частицы вещества находятся в постоянном движении.
                              p Диффузия - процесс взаимного проникновения молекул или атомов одного вещества между молекулами или атомами другого, приводящий к самопроизвольному выравниванию их концентраций по всему занимаемому объёму.
                              iframe(
                                src="https://www.vascak.cz/data/android/physicsatschool/canvas/mf_difuze_Canvas.html?l=ru"
                                style="border:none; width:100%; height:500px;  text-align:center; margin-left:auto; margin-right:auto;"
                              )
                              p Бро́уновское движе́ние (бра́уновское движе́ние) — беспорядочное движение микроскопических видимых взвешенных в жидкости или газе частиц твёрдого вещества, вызываемое тепловым движением частиц жидкости или газа.
                              
                              iframe(
                                src="https://www.vascak.cz/data/android/physicsatschool/canvas/mf_brownuv_pohyb_Canvas.html?l=ru"
                                style="border:none; width:100%; height:500px;  text-align:center; margin-left:auto; margin-right:auto;"
                              )
                            li.content-list
                              span.content-list__title.text-underline III положение МКТ
                              br
                              | Структурные частицы вещества взаимодействуют друг с другом с силами притяжения и отталкивания.
                              p Упругая деформация
                              img(src="/img/gif/3.gif", alt="alt").content-img
                              p Сжатие твердых тел, жидкостей и газов
                              img(src="/img/gif/4.gif", alt="").content-img
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Масса молекул, количество вещества.
                      .content
                        p.content-paragraph
                          | Относительная молекулярная (формульная) масса вещества — это физическая величина, равная отношению массы молекулы (формульной единицы) вещества к 1/12 части массы атома углерода
                        img(src="/img/formuls/1.jpg", alt="alt").content-img
                        video(src="/videos/1.mp4")
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Строение газообразных жидких и твердых тел
                      .content
                        p.content-paragraph.
                          Агрегатное состояние вещества (от лат. aggrego «присоединяю») — физическое состояние вещества, зависящее от соответствующего сочетания температуры и давления. Традиционно выделяют три агрегатных состояния: твёрдое - держит как форму, так и объем, жидкое держит объем, но не форму и газообразное – не держит ни форм, ни объем.
                          Твёрдое тело состоит из молекул, расположенных близко друг к друга в определённом порядке, а точнее строению присущ близкий и дальний порядок. Потенциальная энергия взаимодействия молекул превосходит кинетическую энергию колебательного движения молекул.
                          Жидкое тело имеет молекулы, находящиеся также близко друг к другу, но только в близком порядке. Дальний порядок отсутствует. молекулы колеблются и могут перескакивать с одного места на другое, этим обусловлена текучесть. Кинетическая и потенциальная энергии молекул сравнимы.
                          Расстояния между молекулами много больше размеров самих молекул. Кинетическая энергия движения молекул превышает потенциальную энергию взаимодействия молекул. Характер движения большие пробежки до столкновения с другими молекулами, после которой меняется направление полёта молекулы.
                          (анимация изменение агрегатного состояния вещества и движение молекул в этих состояниях)
                          
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Идеальный газ в МКТ
                      .content
                        p.content-paragraph
                          p Иде­аль­ный газ – мо­дель газа, в рам­ках ко­то­ро­го мо­ле­ку­лы и атомы газа пред­став­ле­ны в виде очень ма­лень­ких (ис­че­за­ю­щих раз­ме­ров) упру­гих ша­ри­ков, ко­то­рые не вза­и­мо­дей­ству­ют друг с дру­гом (без непо­сред­ствен­но­го кон­так­та), а толь­ко стал­ки­ва­ют­ся.
                          p (анимацию, опыт) идеального газа
                          br
                          p Параметры идеального газа:
                          img(src="/img/schemes/1.png", alt="alt").content-img
                          p Строение идеального газа
                          img(src="/img/gif/5.gif", alt="").content-img
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Основное уравнение МКТ газов.
                      .content
                        p.content-paragraph
                          | Давление идеального газа пропорционально произведению концентрации молекул на среднюю кинетическую энергию поступательного движения молекулы.
                          img(src="/img/formuls/2.jpg", alt="alt").content-img
                          | Где, Учитывая, что средняя кинетическая энергия молекул может быть определена как:
                          img(src="/img/formuls/3.jpg", alt="alt").content-img
                          | можно записать основное уравнение МКТ и в таком виде
                          img(src="/img/formuls/4.jpg", alt="alt").content-img
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Вопросы
                      include ./pug/quests1
                      include /pug/answers
                      .content
                        form(method='post' action='/finish.php')
                          +quests(quests)
                          button(name='Раздел' value='1').btn Проверить
            li.nav__itm
              details
                summary
                  h2.text-underline Глава 2.Темпратура. Энергия теплового движения молекул.
                ol.nav__sub-list
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Температура и тепловое равновесие.
                      .content
                        p.content-paragraph
                          | Температура – это физическая величина, характеризующая степень нагретости тела.
                        .imgContainer
                          img(src="/img/other/1.png", alt="alt")
                          img(src="/img/other/2.jpg", alt="alt")
                        p.content-paragraph
                          | Если два тела разной температуры привести в соприкосновение, то, как показывает опыт, более нагретое тело будет охлаждаться, а менее нагретое – нагреваться, т.е. происходит теплообмен – передача энергии от более нагретого тела к менее нагретому без совершения работы. К примеру так делают пингвинчики.
                        .imgContainer
                          img(src="/img/other/3.jpg", alt="alt")
                          img(src="/img/other/4.jpg", alt="alt")
                        p Через некоторое время после приведения тел в соприкосновение они приобретают одинаковую степень нагретости, т.е. приходят в состояние теплового равновесия.
                        p Тепловое равновесие – это такое состояние системы тел, находящихся в тепловом контакте, при котором теплообмен не происходит и все макропараметры тел остаются неизменными, если внешние условия не меняются.
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Определение температуры.
                      .content
                        p.content-paragraph
                          | Измерить температуру какого-либо тела непосредственно, так, как измеряют другие физические величины, например длину, массу, объем или время, не представляется возможным, ибо в природе не существует эталона или образца единицы этой величины. Поэтому определение температуры вещества производят посредством наблюдения за изменением физических свойств другого, так называемого термометрического (или рабочего) вещества, которое, будучи приведено в соприкосновение с нагретым телом, вступает с ним через некоторое время в тепловое равновесие.
                        .imgContainer
                          img(src="/img/photo/1.jpg", alt="alt")
                          | Цельсий - градус Цельсия назван в честь шведского учёного Андерса Цельсия, предложившего в 1742 году новую шкалу для измерения температуры. За ноль по шкале Цельсия принималась точка плавления льда, а за 100°- точка кипения воды при стандартном атмосферном давлении. (Изначально Цельсий за 100° принял температуру таяния льда, а за 0° — температуру кипения воды. И лишь позднее его современник Карл Линней «перевернул» эту шкалу). Эта шкала линейна в интервале 0—100° и так же линейно продолжается в области ниже 0° и выше 100°. Линейность является основной проблемой при точных измерениях температуры. Достаточно упомянуть, что классический термометр, заполненный водой, невозможно разметить для температур ниже 4 градусов Цельсия, так как в этом диапазоне вода начинает снова расширяться. 
                        .imgContainer
                          img(src="/img/photo/2.jpg", alt="alt")
                          div
                            p Ке́львин — единица термодинамической температуры в Международной системе единиц (СИ), одна из семи основных единиц СИ. Предложена в 1848 году. Определяется через значение постоянной Больцмана: 1,380649 × 10-23 Дж / К. До 2019 года определялся как 1/273,16 части термодинамической температуры тройной точки воды. Начало шкалы (0 К) совпадает с абсолютным нулём.
                            p Единица названа в честь английского физика Уильяма Томсона, которому было пожаловано звание лорд Кельвин Ларгский из Айршира. В свою очередь, это звание пошло от реки Кельвин], протекающей через территорию университета Глазго.
                        .imgContainer
                          img(src="/img/photo/3.png", alt="alt")
                          |  Голландский физик, родившийся в1686 году в польском городе Гданьске, рано начал научную деятельность. Он собственноручно собирал измерительные приборы и в возрасте 23 лет изобрел спиртовой термометр, а спустя 5 лет - ртутный. В 1724 году Фаренгейт предложил научному сообществу свою систему измерения температур. Позже она претерпела некоторые изменения. Целью ученого было создать шкалу без отрицательного значения, поэтому за ноль он принял самую низкую температуру, известную в то время   плавления смеси льда, воды и нашатырного спирта. Для определения одного деления на термометре - градуса - физик использовал диапазон между показателем таяния льда и кипения воды, разделив его на 180 равных частей.
                        
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Абсолютная температура. Температура - мера средней кинетической энергии.
                      .content
                        p.content-paragraph
                          | АБСОЛЮТНАЯ ТЕМПЕРАТУРА (термодинамическая температура) - температура Т, отсчитываемая от абсолютного нуля. Значения абсолютной температурысвязаны с температурой по Цельсия шкале (t °С) соотношением t = Т - 273,15 К.
                        video(
                          style='max-width: 100%'
                          controls='true' src="https://ustroistvo-avtomobilya.ru/wp-content/uploads/2012/10/Absolyutnaya-temperatura-Temperatura-mera-srednej-kineticheskoj-energii-molekul_cut_001.mp4?_=1")
                  li.nav__sub-item
                          details
                            summary 
                              h3.text-underline Вопросы
                            include ./pug/quests2
                            include /pug/answers
                            .content
                              form(method='post' action='/finish.php')
                                +quests(quests2)
                                button(name='Раздел' value='1').btn Проверить
            li.nav__itm
              details
                summary
                  h2.text-underline Глава 3.Уравнение состояние идеального газа. Газовые законы.
                ol.nav__sub-list
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Уравнение состояния идеального газа(Уравнение Менделеева- Клайперона)
                      .content
                        p.content-paragraph
                          | Используя зависимость давления идеального газа от его температуры и концентрации молекул
                        img(src="/img/formuls/5.gif", alt="alt").content-img
                        p.content-paragraph можно найти связь между основными макроскопическими параметрами газа — объемом V, его давлением и температурой Т.
                        p.content-paragraph Концентрация молекул газа равна:
                        img(src="/img/formuls/6.gif", alt="alt").content-img
                        p.content-paragraph где — число молекул газа в сосуде объемом V. Число можно выразить как произведение количества вещества на постоянную Авогадро
                        img(src="/img/formuls/7.gif", alt="alt").content-img
                        p.content-paragraph Из выражений (25.9), (26.1) и (26.2) получаем
                        img(src="/img/formuls/8.gif", alt="alt").content-img
                        p.content-paragraph Произведение постоянной Авогадро на постоянную Больцмана называется молярной газовой постоянной
                        p.content-paragraph.
                          Молярная газовая постоянная равна
                        img(src="/img/formuls/9.gif", alt="alt").content-img
                        p.content-paragraph.
                          Используя молярную газовую постоянную, выражение преобразуем в уравнение
                        img(src="/img/formuls/10.gif", alt="alt").content-img
                        p.content-paragraph.
                          Количество вещества можно найти, зная массу вещества и его молярную массу М:
                        img(src="/img/formuls/11.gif", alt="alt").content-img
                        p.content-paragraph.
                          поэтому уравнение (26.5) можно записать в такой форме:
                        img(src="/img/formuls/12.gif", alt="alt").content-img
                        p.content-paragraph.
                          Это уравнение называется уравнением состояния идеального газа.
                        p.content-paragraph.
                          Уравнение, устанавливающее связь между давлением, объемом и температурой газов, было получено французским физиком Бенуа Клапейроном (1799—1864). В форме (26.7) его впервые применил великий русский ученый Дмитрий Иванович Менделеев (1834—1907), поэтому уравнение состояния газа называется уравнением Менделеева — Клапейрона.
                ol.nav__sub-list
                  li.nav__sub-item
                    details
                      summary 
                        h3.text-underline Изопроцессы
                      .content
                        ol.nav__sub-list
                          li.nav__sub-item
                            details
                              summary 
                                h4.text-underline Изотермический процесс
                              .content
                                p.content-paragraph.
                                  Изотермическим процессом называется процесс, происходящий в неизменной массе газа при постоянной температуре. Запишем уравнение для двух состояний идеального газа: 
                                p.content-paragraph.content-paragraph_center.
                                  p1V1=νRT(1), p2V2=νRT (2).
                                p.content-paragraph.
                                  Разделим уравнение (2) на уравнение (1), получим уравнение изотермического процесса:
                                p.content-paragraph.content-paragraph_center
                                  img(src="/img/formuls/13.png", alt="alt")
                                  | (3) или pV=const (4).
                                p.content-paragraph.
                                  Уравнение (4) называют законом Бойля-Мариотта.
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ti-Xd7Aeb3M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                p Интерактивное демо изотермического процесса:
                                <iframe  src="https://www.vascak.cz/data/android/physicsatschool/canvas/mf_izotermicky_dej_Canvas.html?l=ru" style="border:none; width:100%; height: 500px;  text-align:center; margin-left:auto; margin-right:auto;"></iframe>
                          li.nav__sub-item
                            details
                              summary 
                                h4.text-underline Изобарный процесс
                              .content
                                p.content-paragraph.
                                  Изобарным процессом называется процесс, протекающий при неизменном давлении
                                p.content-paragraph.content-paragraph_center.
                                  (P=const) и условии m = const и М = const.
                                p.content-paragraph.
                                  Если в некотором процессе не изменяются масса и давление газа, то уравнение Менделеева-Клапейрона для начального и конечного состояний будет: 
                                p.content-paragraph.content-paragraph_center P#[sub 1]V#[sub 1] = RT#[sub 1] и P#[sub 2]V#[sub 2] = RT#[sub 2]
                                p.content-paragraph.
                                  При m = const P = const V / T = const или V1 / V2 = T1 / T2 (уравнение называется законом Гей-Люссака).
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZsId0_8MoQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/-8mJT5G9CWg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                p Интерактивное демо изобарного процесса:
                                <iframe src="https://www.vascak.cz/data/android/physicsatschool/canvas/mf_izobaricky_dej_Canvas.html?l=ru" style="border:none; width:100%; height:500px;  text-align:center; margin-left:auto; margin-right:auto;"></iframe>
                          li.nav__sub-item
                            details
                              summary 
                                h4.text-underline Изохорный процесс
                              .content
                                p.content-paragraph.
                                  Изохорический или изохорный процесс— это термодинамический процесс, который происходит при постоянстве объёма. В газах и жидкостяхосуществляется очень просто: для этого достаточно нагревать (охлаждать) вещество в сосуде, который неизменяет своего объёма.
                                img(src='/img/formuls/14.png').content-img
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Dvzip1U0iUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                p Интерактивное демо изотермического процесса:
                                <iframe src="https://www.vascak.cz/data/android/physicsatschool/canvas/mf_izochoricky_dej_Canvas.html?l=ru" style="border:none; width:100%; height:500px;  text-align:center; margin-left:auto; margin-right:auto;"></iframe>
                    li.nav__sub-item
                      details
                        summary 
                          h3.text-underline Вопросы
                        include ./pug/quests3
                        include /pug/answers
                        .content
                          form(method='post' action='/finish.php')
                            +quests(quests3)
                            button(name='Раздел' value='1').btn Проверить
                        

                        

                        
                  
      footer